*{margin: 0;padding: 0;}
body, html{margin: 0;padding: 0; font-family: 'Roboto', sans-serif; font-size: 14px;}


/*---------------------------- HEADER ------------------------*/
#wrap_header{
  background: url(../images/header-background.jpg) center center;
}
#header{
  /*border-bottom: solid 1px rgba(255, 255, 255, 0.50);*/
}
.nav_icon{
  color: #fff;
  font-size: 40px;
}
.navbar-dark .navbar-toggler{
  border: 0;
}

.header_blue{
  background: #0983cc;
  box-shadow: 0px 0px 5px;
}
.menu_main{
	padding: 0;
}
#header .navbar-brand{
	padding: 0;
}

.menu_main .navbar-nav > li{
	 padding: 37px 15px 7px 15px;
  line-height: 22px;
  min-height: 92px;
}

.menu_main .navbar-nav a.nav-link{
	color: #fff;
  font-size: 18px;
 
}
.menu_main .navbar-nav .active>.nav-link, .menu_main .navbar-nav .nav-link:hover{
	color: #ffc801;
/*	border-bottom: solid 3px #ffc801;*/
}

#slider{
	padding: 70px 0;
}
.navbar_right .btn{
  margin-right: 15px;
}
.navbar_right .dropdown-menu{
  left: auto;
  right: 0;
  top: 37px;
}
.navbar_right .dropdown-item{
  padding: 6px 12px;
}
.navbar_right .dropdown-item img{
  margin-right: 7px;
}
.navbar_right .dropdown-toggle::after{
  color: #fff;
}

.main_slider .box_2{
	font-size: 24px;
}
.box_2 .stats span {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.box_2 small{
	font-weight: 700;
    font-size: 10px;
    color: #afafaf;
    position: absolute;
    left: 0;
    top: -4px;
    line-height: 1;
}
.slider_btn .btn-outline-light{
  border-radius: 45px;
}
.btn-primary{
  	background: #e0b214;
  	border-color: #e0b214;
    border-radius: 45px;
    padding-left: 20px;
    padding-right: 20px; 
    font-size: 14px;
}
.btn-primary:hover{
	background: #bf9506;
	border-color: #bf9506;
}
.logo_partner{
	background: #cea518; 
	padding: 15px 0;
	border-radius: 0 0 5px 5px;
}
.logo_partner img{
	width: 45%;
}
.icoopen{
	color: #cea518;
	font-size: 50px;
}
.icoopen i.ion{
	padding-right: 10px;
}
.heading_box{
    padding: 15px 20px;
}
.heading_box .block-title{
  font-size: 40px;
}
.heading_box h4{
  font-weight: normal;
}
.box_2{
	padding: 30px 0 15px 0;
}
.box_2 .btn-primary{
}
.main_slider{
	color: #fff;
}
.main_slider .lead{
	margin: 20px 0;
}
.main_slider_btn{
	margin-bottom: 20px;
}
.table_token{
  background-color: #0983cc;
}
.table_token td, .table_token th, .table_token thead th{
  border-color: #fff;
}

.timer_module_time{
  font-size: 60px;
  margin-bottom: 0;
}
.timer_module .p-2{
  margin: 10px 10px 30px 10px;
  border: solid 2px #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.ico_open{
  font-size: 28px;
  padding-top: 20px;
}
.timer_module_date{
  margin-top: -20px;
}
.coin_icon img{
  width: 30px;
  height: 30px;
}
.coin_icon li{
  padding: 0 10px;
}
.slider_btn .btn{
  padding: 12px 37px;
  font-size: 18px;
  text-transform: uppercase;
}

/*---------------------------- CONTENT ------------------------*/
.about_box {
	background: #ebebeb;
/*	padding: 20px 0;*/
}
.about_left{
  padding-top: 20px;
  padding-bottom: 20px;
}
.carousel-indicators .active{
  background-color: #0983cc;
}
.carousel-indicators li{
  background-color: #0983cc;
  background-color: rgba(0,0,0,.4);
}
.carousel-indicators{
  bottom: -10px;
}
.ico_box{
  padding: 30px 0;
}
h3.home_title{
	color: #0983cc;
	margin: 20px 0;
  font-size: 28px;
}
.about_box p{
	font-size: 16px;
	margin-bottom: 20px;
}
.lending_module{
	padding: 30px 0;
  background: #eaeaea;
}
.box_lending{
	margin: 10px 0;
}
.box_lending .media{
	background: #fff;
	height: 102px;
    width: 100%;
}
.box_lending_icon{
	background: #7e7e7e;
	width: 102px;
	height: 102px;
    text-align: center;
    padding-top: 15px;
}
.box_lending_icon .ion{
  color: #fff;
  font-size: 45px;
  padding-top: 12px;
}
.box_lending_text{
	padding-right: 20px;
}
.box_lending_text h5{
	font-size: 18px;
}
.profit_module{
	background: url('../images/bg_box.jpg') no-repeat;
	color: #fff;
}
.profit_module h3.home_title{
	color: #fff;
}
.staking_module{
	padding: 30px 0;
  background: #fff;
}
.staking_box_icon{
	width: 90px;
	height: 90px;
	background: #7e7e7e;
	text-align: center;
  padding-top: 26px;
  margin: 10px auto;
}
.staking_box_icon .ion{
  color: #fff;
  font-size: 34px;
}
.flatform_module{
	background: url('../images/bg_box_2.jpg') no-repeat;
	color: #fff;
	padding: 60px 0;
}
.mobile_app {
	background: #cea518;
	color: #fff;
}
.mobile_app h3.home_title{
	color: #fff;
}
.mobile_app_icon a img{
	margin: 5px 7px;
}
.partner_module{
	padding: 30px 0;
}
.marquee_partner img{
	padding: 0 10px;
} 

.c100{
  display: inline-block;
  float: none;
}
.token_module{
  padding: 30px 0;
  background: #0983cc;
}
.timeline-time{
  position: absolute;
  top: 21px;
  left: 54%;
  text-align: left;
  color: #fff;
}
.timeline > li.timeline-inverted > .timeline-time{
  left: auto;
  right: 54%;
}
.timeline > li > .timeline-panel{
  background: #fff;
}
.social_icon .ion{
  color: #fff;
  font-size: 24px;
  padding: 0px 18px;
}
.social_icon a:hover{
  opacity: 0.6;
}
.tab_ico .nav-item.show .nav-link, .tab_ico .nav-link.active{
  color: #0983cc;
  background-color: transparent;
  border: 0;
  border-bottom: solid;
}
.tab_ico .nav-link{
  border: 0;
  color: #000;
}
.tab_ico .nav-link:hover{
  color: #0983cc;
}
#menu_invest{
  background: #218fd1;
  color: #fff;
}
#menu_invest h3.home_title{
  color: #fff;
}
#menu_roadmap{
  background: #ebebeb;
}
.app_box{
  background: #218fd1;
  color: #fff;
}
.app_box h3.home_title{
  color: #fff;
}
/*---------------------------- FOOTER ------------------------*/

#footer{
	background: #636363;
	color: #fff;
	padding: 20px 0;
}
#footer a{
	color: #fff;
}


/*---- TIMELINE ----*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 40px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 16px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 16px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -25px;
  background-color: #7e7e7e;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
/*---- end TIMELINE ----*/

.token_module h3{
  color: #fff;
}

.form_subscribe{
  width: 50%;
  margin: 0 auto;
}
.btn_blue {
  background: #0983cc;
  border: solid 1px #0983cc;
}
.btn_blue:hover, .btn_blue:focus {
  background: #035b92;
  border: solid 1px #035b92;
}
.form_subscribe input.form-control{
  border-radius: 45px;
  border: 0;
  padding-left: 30px;
}

.structure_ico{
  padding: 30px 0;
}
/*---------------------------- OTHER ------------------------*/
.particles_breadcrumb{
    height: 300px !important;
}
.breadcrumb_wrap{
  padding: 30px 0;
}
.breadcrumb_wrap .breadcrumb{
  background: none;
    margin-bottom: 0;
    font-size: 18px;
}
.breadcrumb_wrap .breadcrumb li{
  color: #ffc801;
}
.breadcrumb_wrap .breadcrumb-item+.breadcrumb-item::before{
  color: #fff;
}
.breadcrumb_wrap .breadcrumb a{
  color: #fff;
}
.other_page{
  padding: 20px 0;
  background: #fff;
}
.faq_module .btn-primary{
  border-radius: 0;
  margin-top: 20px;
}
.faq_module .card-body{
  border-radius: 0;
}
.wrap_chart h3{
  margin: 20px 0;
}
.chart_label{
  padding: 20px 0 0 10px;
}
.roadmap_module {
  padding: 30px 0;
  background: #eaeaea;
}
.number_roadmap{
  width: 64px;
  height: 64px;
  background: #0983cc;
  text-align: center;
  color: #fff;
  font-size: 20px;
  padding-top: 14px;
}
.team_module{
  padding: 30px 0; 
}
.card_team .card-img-top{
  height: 200px;
}
.card_team .card{
  margin: 10px 0;
}
.media_roadmap{
  margin: 20px 0 0 0;
}
/*---------------------------- MEDIA ------------------------*/
@media (max-width: 991px) { 
	.menu_main .navbar-nav a.nav-link{
		min-height: auto;
	    padding: 12px 18px 7px 18px;
	}
	.menu_main .navbar-nav .active>.nav-link, .menu_main .navbar-nav .nav-link:hover{
		border-bottom: 0;
	}
  #header .navbar-collapse{
    background: #0983cc;
  }
}
@media (max-width: 767px) {
  .form_subscribe{
    width: 100%;
  }
  .timer_module_time {
    font-size: 50px;
  }
  .timer_module .p-2 {
    margin: 10px 3px 30px 3px;
    border: solid 2px #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

}


/*--------------------------------*/



