
/**
 * site header
 * --------------------------------------------------
 */
.navbar {
  -webkit-transition: all 0.8s ease-in-out;
       -o-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
  -webkit-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  opacity: 0;
}

.is-loaded .navbar {
  opacity: 1;
}

.navbar {
  height: auto;
  line-height: 56px;
  margin-bottom: 0;
  border-width: 0 0 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .navbar {
    height: 100px;
    line-height: 100px;
    border-bottom: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    font-size: 14px;
    font-weight: 900;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

.caret {
  margin-top: -3px;
}

@media (max-width: 1199px) {
  .navbar-header {
    padding: 0 15px;
  }
}

.navbar-brand {
  float: none;
  height: auto;
  line-height: inherit;
  padding: 0;
}

.navbar-brand img {
  max-height: 35px;
}

@media (min-width: 992px) {
  .navbar-brand img {
    max-height: 40px;
  }
}

.navbar-brand-wrap {
  display: table;
  height: 56px;
}

@media (min-width: 768px) {
  .navbar-brand-wrap {
    height: 100px;
  }
}

.navbar-brand {
  display: table-cell;
  vertical-align: middle;
}

.navbar-nav > li > a {
  display: inline-block;
  line-height: 1;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  background-color: transparent;
}

@media (max-width: 767px) {
  .navbar-nav {
    line-height: 56px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding: 0 10px;
  }
}

@media (min-width: 992px) {
  .navbar-nav > li {
    margin-left: 20px;
  }
  .navbar-nav > li > a {
    padding: 0 15px;
  }
}

.navbar-toggle {
  height: 56px;
  margin: 0;
  border: 0;
  padding: 0;
}

.navbar-toggle .icon-bar:nth-child(3) {
  position: relative;
}

.navbar-toggle .icon-bar:nth-child(3):before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: inherit;
}

.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(2),
.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(4) {
  opacity: 0;
}

.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(3):before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 768px) {
  .navbar-toggle {
    height: 100px;
  }
}

.navbar-theme .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-theme .navbar-nav > li.active > a {
  color: #fff;
}

.navbar-theme .navbar-nav > li > a {
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transition-property: color;
       -o-transition-property: color;
          transition-property: color;
  color: rgba(255, 255, 255, 0.5);
}

.navbar-theme .navbar-nav > li > a:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .navbar-theme .navbar-nav > li > a {
    position: relative;
  }
  .navbar-theme .navbar-nav > li > a:after {
    -webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    -webkit-transition-property: -webkit-transform;
         -o-transition-property: -o-transform;
            transition-property: transform;
    -webkit-transform: translateX(-50%) scaleX(0);
        -ms-transform: translateX(-50%) scaleX(0);
         -o-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    position: absolute;
    bottom: -14px;
    left: 50%;
    content: "";
    width: 90%;
    height: 4px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background-color: #1080f2;
  }
}

@media (min-width: 768px) {
  .is-scroll .navbar-theme .navbar-nav > li.active > a:after {
    -webkit-transform: translateX(-50%) scaleX(1);
        -ms-transform: translateX(-50%) scaleX(1);
         -o-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

.site-header {
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transition-property: background-color;
       -o-transition-property: background-color;
          transition-property: background-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 800;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.is-scroll .site-header {
  background-color: #212121;
}

@media (max-width: 1199px) {
  .site-header {
    background-color: #212121;
  }
}

@media (max-width: 991px) {
  .navbar-nav > li {
    float: none !important;
  }
  .nav > li > a {
    padding: 10px 15px !important;
  }
  .collapse.collapse {
    display: none !important;
  }
  .collapse.collapse.in {
    display: block !important;
  }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
  .navbar-header {
    float: none !important;
  }
  .navbar-toggle {
    display: block !important;
  }
  .navbar-collapse {
    border-top: 1px solid transparent !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
  }
  .navbar-collapse.collapse {
    overflow-x: visible !important;
  }
  .navbar-right {
    float: none !important;
    margin: 7.5px -15px !important;
  }
}